@model User

@{
    ViewData["Title"] = "Role Assigned Members ";
}

<div class="card-wrapper col-md-6">
    <div class="card-content">
        <h2>Remove roles for user</h2>
        <form asp-action="Delete">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="userId" value="@Model.Id" />

            <div class="form-group">
                <div class="control-label">Name</div>
                <div class="form-control">@Model.Name</div>
            </div>

            <div class="editor-label">Check Roles to delete</div>
            @if (Model.Permissions == null || Model.Permissions.Count == 0)
            {
                <div class="text-danger">This user has no roles assigned that can be removed from here.</div>
            }
            else
            {
                @foreach (var permission in Model.Permissions)
                {
                    <input id="@permission.Role.Id" type="checkbox" value="@permission.Role.Id" name="roles" />
                    <label for="@permission.Role.Id">@permission.Role.Name</label>
                    <br />
                    <br />
                }
            }
            <input class="btn btn-primary" type="submit" value="Remove role(s)" />


        </form>
    </div>
</div>
