@model Harvest.Web.Models.ReportModels.HistoricalRateActivityModelList
@{
    ViewData["Title"] = "Historical Rate Activity";
}

<div>
    <div>
        <h1>Historical Rate Activity for Team: @Model.TeamName</h1>
    </div>
    <div>
        <form asp-action="HistoricalRateActivity" method="get">
            <h3>Filters</h3>
            <div class="d-flex">
                <div style="margin-right:2px" class="form-group">
                    <label asp-for="Start" class="control-label"></label>
                    <input id="start" asp-for="Start" class="form-control" />
                    <span asp-validation-for="Start" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="End" class="control-label"></label>
                    <input id="end" asp-for="End" class="form-control" />
                    <span asp-validation-for="End" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-accent btn-sm"><i class="fas fa-sync-alt fa-sm"></i> Refresh
                    Report</button>
            </div>
        </form>
    </div>
</div>


<table class="table harvest-table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.HistoricalRates[0].RateId)</th>
            <th>@Html.DisplayNameFor(model => model.HistoricalRates[0].IsActive)</th>
            <th>@Html.DisplayNameFor(model => model.HistoricalRates[0].Type)</th>
            <th>@Html.DisplayNameFor(model => model.HistoricalRates[0].Description)</th>
            <th>@Html.DisplayNameFor(model => model.HistoricalRates[0].Account)</th>
            <th>@Html.DisplayNameFor(model => model.HistoricalRates[0].Price)</th>
            <th>@Html.DisplayNameFor(model => model.HistoricalRates[0].TotalQuantity)</th>
            <th>@Html.DisplayNameFor(model => model.HistoricalRates[0].TotalAmount)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.HistoricalRates)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.RateId)</td>
                <td>@Html.DisplayFor(modelItem => item.IsActive)</td>
                <td>@Html.DisplayFor(modelItem => item.Type)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.Account)</td>
                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalQuantity)</td>
                <td>@Html.DisplayFor(modelItem => item.TotalAmount)</td>
            </tr>
        }
    </tbody>
</table>

@section Styles
{
    @{
        await Html.RenderPartialAsync("_ReportStylesPartial");
    }
    @{
        await Html.RenderPartialAsync("_FaStylesPartial");
    }
}

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ReportScriptsPartial");
    }

    <script type="text/javascript">
        var table = $('.table').DataTable({
            "dom": 'lBfrtip',
            "buttons": [
                {
                    extend: 'copyHtml5', className: 'btn-primary btn-sm', init: function (api, node, config) {
                        $(node).removeClass('btn-secondary')
                    }
                },
                {
                    extend: 'excelHtml5', className: 'btn-primary btn-sm', init: function (api, node, config) {
                        $(node).removeClass('btn-secondary')
                    }
                },
                {
                    extend: 'csvHtml5', className: 'btn-primary btn-sm', init: function (api, node, config) {
                        $(node).removeClass('btn-secondary')
                    }
                },
                {
                    extend: 'print', className: 'btn-primary btn-sm', init: function (api, node, config) {
                        $(node).removeClass('btn-secondary')
                    }
                },
            ]
        });
    </script>
}