@using Harvest.Core.Extensions
@model IEnumerable<Harvest.Core.Domain.Rate>

@{
    ViewData["Title"] = "Index";
}
<div class="row justify-content-between mb-3">
    <div class="col">
<h1>Index</h1>
    </div>
    <div class="col text-right">
 <a class="btn btn-sm btn-link" asp-action="Create"><i class="fas fa-plus fa-xs"/></i> Create New Font Awesome here</a>
    </div> 
    </div>

<table class="table harvest-table table-striped table-bordered">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BillingUnit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EffectiveOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UpdatedOn)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BillingUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Account)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @item.EffectiveOn.ToPacificTime().Format("d")
            </td>
            <td>
                @item.CreatedOn.ToPacificTime().Format("d")
            </td>
            <td>
                @item.UpdatedOn.ToPacificTime().Format("d")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id=item.Id }) |
                @Html.ActionLink("Details", "Details", new {id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new {id=item.Id })
            </td>
        </tr>
    }
    </tbody>
</table>

@section Styles
{
    @{ await Html.RenderPartialAsync("_ReportStylesPartial");}
}

@section Scripts
{
    @{ await Html.RenderPartialAsync("_ReportScriptsPartial");}

    <script type="text/javascript">
        var table = $('.table').DataTable({
            responsive: true,
            columnDefs: [
                { responsivePriority: 1, targets: 0 },
                { responsivePriority: 2, targets: -1 },
                { responsivePriority: 3, targets: 1 },
                { responsivePriority: 4, targets: 4 },
                { responsivePriority: 5, targets: 2 },
                { responsivePriority: 6, targets: 3 },
                { responsivePriority: 7, targets: 5 },
                { responsivePriority: 8, targets: 6 }
            ]
        });
    </script>
}
