@model Invoice[]

@if (Model.Any()) { 
<a asp-controller="TempInvoice" asp-action="Unbilled" asp-route-projectId="@Model.FirstOrDefault().ProjectId">Unbilled for this project</a>
}
<table id="invoices" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Date
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var invoice in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@invoice.Id">@invoice.Id</a>
                </td>
                <td>@invoice.CreatedOn</td>
                <td>@invoice.Total</td>
            </tr>
        }
    </tbody>
</table>

@section Styles
{
  @{ await Html.RenderPartialAsync("_ReportStylesPartial");}
}

@section Scripts
{
  @{ await Html.RenderPartialAsync("_ReportScriptsPartial");}

  <script type="text/javascript">
    var table = $('#projects').DataTable({
      responsive: true
    });
  </script>
}