@using Microsoft.Extensions.Configuration
@using Harvest.Core.Services
@inject IConfiguration Configuration
@inject IUserService UserService
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf

<!DOCTYPE html>
<html>

<head>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-P2W9DKKDX7"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-P2W9DKKDX7');
</script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Harvest</title>

    <react-styles />

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin="" />

    @* Optionally can be done by including node_modules/leaflet-draw/dist/leaflet.draw.css in module *@
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.css"/>

    @RenderSection("Styles", required: false)
</head>

<body>
    <div class="page-wrap">
        <header>
            <div class="container">
            @if (Configuration["Environment:ShowTestBanner"] == "Yes")
            {
                <h1 style="background-color: red; text-align: center; color: white">----------- Beta Testing. Data will not
                    be retained. -----------</h1>
            }
                <div class="row justify-content-between align-items-end">
                    <div class="col-sm-8 col-md-5 col-xl-4">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <h1>Harvest</h1>
                            <p class="subtitle">Planting tomorrow's crops today</p>
                        </a>
                    </div>
                    <div class="text-right col-sm-4">
                        <a target="_blank" href="https://ucdavis.edu">
                            <img style="width:150px" class="img-fluid" src="/media/UCDavis_CAES_logo_white_large.svg" alt="UC Davis Logo">
                        </a>
                    </div>
                </div>
        </div>
        </header>

        @await Html.PartialAsync("_Messages")

        @* Inject React *@
        <div id="root"></div>

        @* Main Content Area for non-react routes *@
        <main role="main" class="main-content-wrapper container">
            @RenderBody()
        </main>
    </div>


    <footer class="container footer">
        <p>Copyright &copy; <span id="copywrite-year"></span> The Regents of the University of California, Davis campus.
            All rights reserved.</p>
    </footer>
    

    <script>
        var Harvest = { user: {} };
        Harvest.user.detail = @Html.Raw(Context.GetUserDetails());
        Harvest.user.roles = @Html.Raw(await Context.GetUserRoles());
        Harvest.antiForgeryToken = "@Xsrf.GetAndStoreTokens(Context).RequestToken";
        Harvest.usecoa = @Configuration["AggieEnterprise:UseCoA"];
    </script>

    <react-scripts />

    @RenderSection("Scripts", required: false)
</body>

</html>
