@using Harvest.Email.Views.Shared
@model Harvest.Email.Models.ChangeRequestModel

@{
    ViewData["EmailTitle"] = "Testing";
    Layout = "_EmailLayout_mjml";
}


<mj-section>
    <mj-column>
        <mj-text align="center">
            <h1>Change Request</h1>

            <p><strong>PI: </strong>@Model.PI</p>
            <p><strong>Request: </strong>@Model.ProjectName</p>
            <p><strong>Project Start: </strong>@Model.ProjectStart</p>
            <p><strong>Project End: </strong>@Model.ProjectEnd</p>
            <p><strong>Crop Type: </strong>@Model.CropType</p>
            <p><strong>Crops: </strong>@Model.Crops</p>
            <h3>New Requirements</h3>
            <p>@Model.Requirements</p>
        </mj-text>
    </mj-column>
</mj-section>

<mj-section background-color="#b2c72c" padding-bottom="20px" padding-top="20px">
    <mj-column>
        <mj-button background-color="#352CC7" color="#FFF" font-size="14px" align="center" font-weight="bold" border="none" padding="15px 30px" border-radius="10px" href="@Model.ButtonUrlForQuote" font-family="Helvetica" padding-left="25px" padding-right="25px" padding-bottom="12px">Click Here to go to the Quote</mj-button>
        <mj-button background-color="#352CC7" color="#FFF" font-size="14px" align="center" font-weight="bold" border="none" padding="15px 30px" border-radius="10px" href="@Model.ButtonUrlForProject" font-family="Helvetica" padding-left="25px" padding-right="25px" padding-bottom="12px">Click Here to go to the Original Project</mj-button>
    </mj-column>
</mj-section>

