@using Harvest.Email.Views.Shared
@model Harvest.Email.Models.NewFieldRequestModel

@{
    ViewData["EmailTitle"] = "Testing";
    Layout = "_EmailLayout_mjml_new";
}


<mj-section border-top="4px solid #266041" border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="20px" padding-top="20px">
    <mj-column width="100%" vertical-align="top">
        <mj-text padding-top="0px" padding-bottom="0px" font-size="28px" color="#1F1F1F">
            <p>New Field Request</p>
        </mj-text>
        <mj-text padding-top="0px" padding-bottom="0px" font-size="24px" color="rgba(31,31,31,0.8)">
            @@Model.PI
        </mj-text>
    </mj-column>
</mj-section>

@await Html.PartialAsync("_EmailButton_mjml", new EmailButtonModel("Click Here to go to the Project", "@Model.ButtonUrl"))

<mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="20px" padding-top="20px">
    <mj-column width="90%" vertical-align="top">
        <mj-text padding-top="0px" padding-left="0px" padding-bottom="0px">
            <h2>@@Model.ProjectName</h2>
        </mj-text>
    </mj-column>
    <mj-column width="90%" vertical-align="top" border-left="4px solid #266041" padding-left="10px">
        @await Html.PartialAsync("_EmailInnerDetails_mjml", new EmailInnerDetailsModel("Project Start", "@Model.ProjectStart"))
        @await Html.PartialAsync("_EmailInnerDetails_mjml", new EmailInnerDetailsModel("Project End", "@Model.ProjectEnd"))
        @await Html.PartialAsync("_EmailInnerDetails_mjml", new EmailInnerDetailsModel("Crop Type", "@Model.CropType"))
        @await Html.PartialAsync("_EmailInnerDetails_mjml", new EmailInnerDetailsModel("Crops", "@Model.Crops"))
    </mj-column>
</mj-section>

<mj-section border-left="1px solid #c7c8cc" border-right="1px solid #c7c8cc" background-color="#ffffff" padding-bottom="20px" padding-top="20px">
    <mj-column width="90%" vertical-align="top">
        <mj-text padding-top="0px" padding-left="0px" padding-bottom="0px">
            <h2>Requirements</h2>
        </mj-text>
    </mj-column>
    <mj-column width="90%" vertical-align="top" border-left="4px solid #266041" padding-left="10px">
        <mj-text padding-top="0px" padding-left="0px" padding-bottom="5px">
            <p>@@Model.Requirements</p>
        </mj-text>
    </mj-column>
</mj-section>





