@using Harvest.Email.Views.Shared
@model Harvest.Email.Models.ProfessorQuoteModel

@{
    ViewData["EmailTitle"] = "Testing";
    Layout = "_EmailLayout_mjml";
}


<mj-section>
    <mj-column>
        <mj-text align="center">
            <h1>Hello @Model.ProfName</h1>
            <h3>Your quote for project @Model.ProjectName</h3>
            <h3>Is ready for your review and approval.</h3>
            <br/>
            <p>Project Start: @Model.ProjectStart</p>
            <p>Project End: @Model.ProjectEnd</p>
            <p>Quote amount: @Model.QuoteAmount</p>
            <p>Is ready for your review and approval.</p>
        </mj-text>
    </mj-column>
</mj-section>



@await Html.PartialAsync("EmailButton", new EmailButtonModel("Click Here to go to the Quote", @Model.ButtonUrl))